Repository Sn00pyW00dst0ck/CEN5035-Project, pull requests merged in 2025-02, with the labels that each got.

#29 Data Models
  README.md
  backend/.gitignore
  backend/LICENSE
  backend/README.md
  backend/go.mod
  backend/go.sum
  backend/internal/api/v1/sector.gen.go
  backend/internal/api/v1/sector.go
  backend/internal/database/database.go
  backend/internal/database/ipfs_helpers.go
  backend/internal/logger/logger.go
  backend/internal/middleware/logger.go
  backend/internal/middleware/trustproxy.go
  backend/internal/responder/responder.go
  backend/internal/router/router.go
  backend/internal/routes/api/apiPrefix.go
  backend/internal/routes/api/v1/forecast/handler.go
  backend/internal/routes/api/v1/temperature/handler.go
  backend/internal/routes/api/v1/v1Prefix.go
  backend/internal/routes/api/v1/v1Routes.go
  backend/internal/routes/base/baseRoutes.go
  backend/internal/routes/base/health/handler.go
  backend/internal/routes/base/root/handler.go
  backend/internal/server/server.go
  backend/internal/tools/tools.go
  backend/main.go
  frontend/src/types/v1/api.gen.ts
  generate.sh
  models/v1/config.yaml
  models/v1/schema.yaml
Labels: documentation, enhancement, backend

#33 Serve swagger ui with a CDN
  backend/README.md
  backend/main.go
  backend/swagger-ui.html
Labels: documentation, enhancement, backend

#47 Account Search Implemented
  backend/go.mod
  backend/go.sum
  backend/internal/api/v1/sector.gen.go
  backend/internal/api/v1/sector.go
  frontend/src/types/v1/api.gen.ts
  models/v1/schema.yaml
Labels: enhancement, backend

#63 Backend unit testing setup
  .github/workflows/backend.build.yaml
  backend/.gitignore
  backend/go.mod
  backend/go.sum
  backend/internal/api/api.go
  backend/internal/api/v1/sector.gen.go
  backend/internal/api/v1/sector.go
  backend/internal/api/v1/swagger-ui.html
  backend/internal/database/database.go
  backend/internal/database/mock_ipfs_helpers.go
  backend/main.go
  backend/tests/api/v1/sector_test.go
  models/v1/config.yaml
Labels: documentation, enhancement, backend

#66 Added more complex account tests
  backend/internal/api/v1/sector.go
  backend/tests/api/v1/sector_test.go
Labels: backend

#67 Group implementation
  backend/internal/api/v1/sector.go
  models/v1/schema.yaml
Labels: enhancement, backend

#71 Created simple test for ServerList component.
  backend/internal/api/v1/sector.gen.go
  frontend/cypress.config.js
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.js
  frontend/cypress/support/component-index.html
  frontend/cypress/support/component.js
  frontend/cypress/support/e2e.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/MainScreen/ServerList/ServerList.cy.jsx
  frontend/src/MainScreen/ServerList/ServerList.jsx
  frontend/src/UserBadge/UserBadge.cy.jsx
Labels: enhancement, frontend

#73 Moved active server topbar functinality to new component file and cle…
  frontend/src/CommonComponents/Search/Search.jsx
  frontend/src/MainScreen/ServerAndMembers/ActiveServer/ActiveServer.jsx
  frontend/src/MainScreen/ServerAndMembers/ActiveServer/MenuBar/MenuBar.jsx
  frontend/src/MainScreen/ServerAndMembers/ServerAndMembers.jsx
  frontend/src/MainScreen/ServerList/ServerBadge/ServerBadge.jsx
  frontend/src/MainScreen/ServerList/ServerList.jsx
Labels: bug, enhancement, frontend
