Repository Sn00pyW00dst0ck/CEN5035-Project, pull requests merged in 2025-03, with the labels that each got.

#68 Backend endpoints
  .github/workflows/backend.build.yaml
  backend/internal/api/v1/sector.gen.go
  backend/internal/api/v1/sector.go
  backend/tests/api/v1/sector_test.go
  frontend/src/types/v1/api.gen.ts
  models/v1/schema.yaml
Labels: documentation, enhancement, backend

#84 Frontend unit testing
  frontend/package-lock.json
  frontend/package.json
  frontend/public/userDefault.png
  frontend/src/App.jsx
  frontend/src/CommonComponents/Search/Search.jsx
  frontend/src/MainScreen/MainScreen.jsx
  frontend/src/MainScreen/ServerList/ServerBadge/ServerBadge.jsx
  frontend/src/MainScreen/ServerList/ServerList.jsx
  frontend/src/UserBadge/UserBadge.jsx
  frontend/src/test/App.test.jsx
  frontend/src/test/ServerBadge.test.jsx
  frontend/src/test/ServerList.test.jsx
  frontend/src/test/UserBadge.test.jsx
  frontend/src/test/setup.js
  frontend/vite.config.js
Labels: enhancement, frontend

#80 Wails Integration
  .github/workflows/backend.build.yaml
  .github/workflows/build.yaml
  .gitignore
  README.md
  app.go
  backend/.gitignore
  backend/.idea/.gitignore
  backend/.idea/backend.iml
  backend/.idea/modules.xml
  backend/.idea/vcs.xml
  backend/README.md
  backend/internal/api/v1/sector.go
  backend/main.go
  backend/tests/api/v1/sector_test.go
  frontend/README.md
  frontend/package.json.md5
  frontend/src/types/v1/api.gen.ts
  frontend/wailsjs/go/main/App.d.ts
  frontend/wailsjs/go/main/App.js
  frontend/wailsjs/runtime/package.json
  frontend/wailsjs/runtime/runtime.d.ts
  frontend/wailsjs/runtime/runtime.js
  generate.sh
  go.mod
  go.sum
  internal/api/api.go
  internal/api/v1/operations.go
  internal/api/v1/sector.gen.go
  internal/api/v1/sector.go
  internal/api/v1/swagger-ui.html
  internal/database/database.go
  internal/database/ipfs_helpers.go
  internal/database/mock_ipfs_helpers.go
  internal/logger/logger.go
  internal/middleware/logger.go
  main.go
  models/v1/config.yaml
  models/v1/schema.yaml
  tests/api/v1/sector_test.go
  wails.json
Labels: enhancement, help wanted, frontend, backend
